#asmDataTable {
    width: 100%;
    height: 100%;
    border-spacing: 0
}

td {
    width: 50%;
    height: 100%;
    padding: 0;

    border:3px solid black;
}

.asmTextData {
    display: inline-block;
    width: 100%;
    height: 100%;
    outline:none;
    border:none;
    word-break: break-word;
    resize: none;

    font-family: monospace;
    font-size: 2em;
}