body {
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    grid-template-rows: 6em auto;
}

header {
    font-family: monospace;
    background-color: #eee;
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
}

header div {
    position: relative;
}

h1 {
    font-size: 4.5em;
    font-weight: normal;
    margin: 0;
    float: left;
    margin-right: 0.5em;
}

.defasm-editor {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    border-top: 3px solid black;
    min-width: 0;
    min-height: 0;
    z-index: 1;
}

.cm-editor { height: 100% }

#bytes-container {
    width: 100%;
    height: 100%;
    min-height: 0;
    float: right;
    position: relative;
    background-color: #ddd;
    display: grid;
    grid-template-rows: 2em auto;
}

#bytes-control {
    width: 100%;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.75em;
}

#bytes-view {
    height: 100%;
    display: block;
    float: left;
    outline: none;
    border: none;
    background-color: #bbb;
    color: inherit;
    font-family: inherit;
}

#byte-count {
    float: right;
    display: block;
}

#bytes-span {
    font-size: 1.25em;
    height: 100%;
    overflow-y: auto;
    padding: 0.2em 0 0 0.3em;
}

.selector {
    position: absolute;
    bottom: 0;
    font-size: 1.75em;
    margin: 0.1em;
}

#syntax-selector {
    right: 0;
}

.selector span[selected] {
    font-weight: bold;
}

.selector span:not([selected]) {
    cursor: pointer;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #222;
        color: white
    }

    body {
        background-color: #2e3235
    }

    #byte-count {
        color: white
    }

    #bytes-container {
        background-color: black;
        color: white;
    }

    #bytes-view {
        background-color: #333;
    }
}