body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(28, 49, 49);
    color:lightgrey
}

h1 {
    font-weight:normal;
    font-size: 3.6em;
    color:white
}

#asmDataTable {
    position:absolute;
    top: 15%;
    padding-top: 5px;
    left: 0;
    width: 100%;
    height: 85%;
    border-spacing: 0;
    border-collapse:collapse;
    border-style:hidden;
    border-top: 5px solid black;
}

#inputAreaContainer {
    background-color: rgb(0, 41, 41);
}
#outputArea {
    background-color: rgb(0, 37, 37);
}

#downloadButton {
    position: absolute;
    right: 1%;
    fill: white
}

td {
    border: 5px solid black;
    width: 50%;
    height: 100%;
    padding: 0;
    max-width:0;
}

.asmTextData {
    display: inline-block;
    width: 100%;
    height: 100%;
    outline:none;
    border:none;
    overflow-y:hidden;
    white-space: pre;
    resize: none;

    font-family: monospace;
    font-size: 1.5em;
}