main {
    display: grid;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-template-rows: 5em max-content;
}

header {
    font-family: monospace;
    font-weight: normal;
    font-size: 4.5em;
    margin: 0;
    background-color: #eee;
}

body {
    margin: 0;
}

#inputAreaContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    border-top: 3px solid black;
}

#byteCount {
    position: absolute;
    right: 0.5em;
    top: 2em;
    font-family: monospace;
    font-weight:bold;
    font-size: 1.75em;
}

#shellcodeContainer {
    font-family: monospace;
    font-size: 1.5em;
    padding: 5px;
    background-color: white;
    border-top: 3px solid black;
    min-height: 2.5em;
    display: none;
}

#shellcode {
    white-space: pre;
}

.cm-content, .cm-gutter { min-height: calc(100vh - 4.3em) }

@media (prefers-color-scheme: dark) {
    header {
        background-color: #222;
        color: white
    }

    #byteCount {
        color: white
    }
}